.flex-container {
    display: flex;
}

.tabla-ventas {
    width: 40%; /* Ajusta el ancho del aside según sea necesario */
    margin-left: 70px;
}

.grafico {
    width: 60%; /* Ajusta el ancho del gráfico según sea necesario */
}
